@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Mulish:wght@200&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --myfont: "Mulish", sans-serif;
  --my-btn-font: "Montserrat", sans-serif;
  --lg-bg-color: linear-gradient(
    to left,
    rgba(116, 235, 213, 0.7),
    rgba(159, 172, 230, 0.7)
  );
  --lg-color: linear-gradient(to left, #74ebd5, #9face6);
}

body {
  background-image: var(--lg-bg-color),
    url(/images/pexels-matt-hardy-3560168.jpg);
  background-color: rgb(250, 243, 243);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: var(--myfont);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100vw;
}
.container {
  background-color: #fff;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  overflow: hidden;
  width: calc(100vw - 65vw);
  max-width: 100%;
}
.header {
  background: var(--lg-color);
  padding: 20px 0;
}
.header h2 {
  color: #222;
  font-family: var(--my-btn-font);
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
}
.form {
  padding: 22px;
}
.form-control {
  margin-bottom: 8px;
  position: relative;
}
.form-control label {
  display: inline-block;
  margin-bottom: 5px;
}
.form-control input {
  width: 100%;
  border: 2px solid #f0f0f0;
  border-radius: 5px;
  display: block;
  font-family: var(--myfont);
  font-size: 14px;
  padding: 8px;
}

.form-control input:focus {
  border-color: rgba(11, 125, 219, 0.4);
  outline: 0;
}

.form-control.success input {
  border-color: green;
}

.form-control.error input {
  border-color: red;
}
.form-control i {
  position: absolute;
  right: 2%;
  top: 45%;
  visibility: hidden;
}

.form-control.success i.fa-check-circle {
  color: green;
  visibility: visible;
}

.form-control.error i.fa-exclamation-circle {
  color: red;
  visibility: visible;
}

.form-control small {
  color: red;
  visibility: hidden;
}
.form-control.error small {
  visibility: visible;
}

.form .btn {
  background: var(--lg-color);
  border-radius: 6px;
  border: none;
  outline: none;
  color: #fff;
  display: block;
  font-family: var(--my-btn-font);
  font-size: 16px;
  padding: 12px 0;
  margin-top: 20px;
  width: 100%;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  transition: all 1s ease;
}
.form .btn:hover {
  background: linear-gradient(to right, #74ebd5, #9face6);
  color: #222;
}
@media (max-width: 998px) {
  .container {
    width: calc(100vw - 35vw);
    max-width: 100%;
  }
}
